#<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule (.*) /$1.php [L]

#RewriteCond %{REQUEST_FILENAME}\.html -f
#RewriteRule (.*) /$1.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /route.php [QSA,L]
#</IfModule>